<template>
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">List Product</h3>
      </div>
      <div class="panel-body">
          <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in products">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-xs-center">
          <v-pagination v-model="pagination.page" :length="6"
          ></v-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
        data: () => ({
            pagination: {
            },
            pages: 0,
            products:[],
        }),
        watch: {
            pagination: {
                handler() {
                    this.getProduct()
                },
                deep: true
            }
        },
        mounted() {
            this.getProduct();
        },
        methods: {
            async getProduct() {
                await axios.get(process.env.api.product.get, {
                    params: {
                        page: this.pagination.page
                    }
                })
                    .then(response => {
                        this.pages = response.total_pages;
                        this.products = response.datas;
                    })
                    .catch(e => {
                        console.log('error');
                    })
                this.loading = false;
            },
        }
}
</script>
